body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: rgb(103, 133, 133);
}

h1 {
    margin-bottom: 20px;
}

#topic-selection,
#difficulty-selection {
    margin-bottom: 20px;
}

select {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#quiz {
    margin-top: 20px;
}

#score-feedback {
    margin-top: 20px;
}
